.guest-container{
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 95vh;
}

.send-msg-holder {
    position: absolute;
    bottom: 1.5rem;
}

.send-msg-wrapper {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 20px
}

.chats-wrapper {
    width: 95%;
    height: 80%;
    margin: 0 auto;
    margin-top: 30px;
    background: cornsilk;
    padding: 20px;

}